body{
    width: 60%;
    border: solid 1px grey;
    margin: auto;
    text-align: center;
}

header{
    margin-top: 20%;
}

div{
    width: 80%;
    border: dashed 1px grey;
    margin: 10% auto;
    padding: 10px;
    text-align: left;
}

div input[type="number"], div input[type="text"]{
    width: 200px;
    height: 30px;
    margin: 6px;
    border-radius: 10px;
    padding: 6px;
}

input[type="submit"]{
    padding: 6px;
}

input[type="submit"]:hover{
    background: black;
    color: white;
}

em{
    color: darkgrey;
}

#error{
    color: red;
}
